html {
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 250px;
}
h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    text-align:center;
    color: #E0A75E;
}

h3 {
    padding-left: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
}

.hero {
    display: flex;
    height: 100vh;
    margin-left: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-section{
    background-color: beige;
    margin: 0px;
    width: 100vw;
    margin-left: 0px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem ;
    font-weight: lighter;
    margin: 0;
}

span {
    font-size: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.contactme-button {
    background-color: #973131;
    border: none;
    font-size: 1rem;
    color: white;
    padding: 5px;
    text-transform: uppercase;
}

.about-me{
    margin-top: 0px;
    height: 100vh;
    margin-left: 200px;
}

img {
    width:600px ;
    height: auto;
    float: left;
    margin-right: 20px;
}

.name-span{
    font-family: "Poppins", sans-serif;
    color: #E0A75E;
    font-size: 1rem;
}

p {
    font-family: "Poppins", sans-serif;    
    text-align: justify;
}

.education{
    font-size: 1.5rem;
    font-weight: normal;
    color: #E0A75E;
    text-align: center;
}

.aboutmetext{
    overflow: hidden;
    margin-right: 250px;
}

.aboutmetext .education-paragraph {
    text-align: center;
}

.contactinaboutme > .name-span {
    margin-bottom: 10px;
}

.aboutmetitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section {
    background-color: beige;
    height: 100vh;
}

.services-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 250px;
}

.services-text{
    font-size: 1rem;
    text-align: center;
}

.ChatGPT{
    width: 100px;
    margin-top: 50px;
}

.services-header{
    padding-top: 30px;
}